{
    "extends": ["next/core-web-vitals", "sandricoprovo/typescript"],
    "plugins": ["@emotion"],
    "ignorePatterns": ["./next.config.js"],
    "rules": {
        "react/no-unknown-property": ["error", { "ignore": ["css"] }],
        "@typescript-eslint/indent": "off",
        "@typescript-eslint/comma-dangle": "off"
    }
}
